.App-header {
    color: white;
    background-color: #222;
    height: 80px;
    padding: 5px 10px;
}

.App-title {
    float: left;
    font-size: 1.5em;
}

.App-address {
    float: right;
    font-size: 1.2em;
    overflow: hidden;
    padding-top: 5px;
    text-align: right;
    text-overflow: ellipsis;
    width: 200px;
}

.App-content {
    width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 20px 10px;
}

.App-uploader {
    background-color: #a6b9bf;
    padding: 40px 10px;
    border-bottom: 3px solid #1399d3;
    margin-bottom: 100px;
}

.App-fyles {
    font-size: 0.8em;
}

.App-fyle {
    background-color: #a6b9bf;
    padding: 40px 10px;
    border-bottom: 3px solid #1399d3;
}
.App-fyle .img-responsive {
    margin: 0 auto;
}

.App-fyle + .App-fyle{
	margin-top: 60px;
}

/* Input file selector */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #bcccd3;
    background-color: #1399d3;
    max-width: 80%;
    font-size: 1.5em;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: #0a5170;
}

/* File type selector */
.filetype {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* Upload button */
.upload-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Loading animation */

.loading {
    margin-bottom: 10px;
}

/* Bootstrap overrides */

.navbar-header .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
